<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>【四季旅游网】</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Seafaring Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- CSS Libs -->
<link th:href="@{/web/css/bootstrap.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/web/css/style.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/web/css/flexslider.css}" rel="stylesheet" type="text/css" />
<!-- Javascript Libs -->
<script type="text/javascript" th:src="@{/web/js/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/web/js/jquery.flexslider.js}"></script>
<script type="text/javascript" th:src="@{/web/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/web/js/common.js}"></script>
<script type="text/javascript">
						$(window).load(function(){
						  $('.flexslider').flexslider({
							animation: "slide",
							start: function(slider){
							  $('body').removeClass('loading');
							}
						  });
						});
					  </script>
<!-- //FlexSlider -->
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
	
<body>
<!-- header -->
	<div class="header">
		<div class="search" style="visibility: hidden">
			<form>
				<i class="glyphicon glyphicon-search" aria-hidden="true"></i><input type="text" placeholder="Search Here" id="search"/>
			</form>
		</div>
		<div class="logo">
			<a href="/home/index.do">Four Seasons</a>
		</div>
		<div class="logo-right">
			<ul>
				<li><a href="#login" th:text="${session.user}!=null ? ${session.user.userName}:'登 录'"></a></li>
				<li><a href="tel:88888888">联系我们</a></li>
				<li><a href="javascript:cancel();" th:text="${session.user}!=null ? '注 销':''"></a></li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="header-nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="cl-effect-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/home/index.do">首页</a></li>
							<li><a href="/sceneWeb/scene.do">景点</a></li>
							<li><a href="/articleWeb/article.do">文章</a></li>
							<li><a href="#">猜你喜欢</a></li>
							<li><a href="/sceneWeb/photo.do">照片墙</a></li>
							<li><a href="/expertWeb/expert.do">申请专家</a></li>
						</ul>
					</nav>
				</div><!-- /.navbar-collapse -->	
			</nav>
		</div>
	</div>
<!-- //header -->
<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="banner-info-grid">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="banner-info">
									<h1>同游天下江山，共筑美好生活</h1>
									<h3>旅行乃生活一部分，懂得旅行，懂得品味生活</h3>
									<p></p>
									<!--<div class="more">
										<a href="single.html">More Info</a>
									</div>-->
								</div>
							</li>
							<li>
								<div class="banner-info">
									<h1>让懂旅行的人，带你走近世界</h1>
									<h3>我们竭尽全力，还你旅行简单而有趣的模样</h3>
									<p></p>
									
								</div>
							</li>
							<li>
								<div class="banner-info">
									<h1>满足您对旅行的101种想象</h1>
									<h3>用心告诉你每一次难忘的旅行的模样</h3>
									<p></p>
									
								</div>
							</li>
						</ul>
					</div>
				</section>
			</div>
		</div>
	</div>
<!-- //banner -->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<h3>Welcome To Our Travel Agency !</h3>
			<th:block th:each="sceneList,iterStat:${data}">

				<th:block th:if="${(iterStat.index) % 2 eq 0}">

					<div class="banner-bottom-grids">
						<th:block th:if="${iterStat.index<iterStat.size&&iterStat.odd==true}">
							<div class="col-md-6 banner-bottom-grid">
								<div class="col-xs-8 banner-bottom-grid-left">
									<h4 th:text="${data[iterStat.index].scene.scenicName}"></h4>
									<ul>
										<li><a th:utext="${data[iterStat.index].like}+'人 喜欢它&lt;span class=&quot; glyphicon glyphicon-heart&quot;  aria-hidden=&quot; true&quot; &gt;&lt;/span&gt;'"></a></li>
										<li><a th:utext="${data[iterStat.index].scene.scenicWant==null}? '0人 浏览过&lt;span class=&quot; glyphicon glyphicon-star&quot;  aria-hidden=&quot; true&quot; &gt;&lt;/span&gt;':${data[iterStat.index].scene.scenicWant}+'人 浏览过&lt;span class=&quot; glyphicon glyphicon-star&quot;  aria-hidden=&quot; true&quot; &gt;&lt;/span&gt;'"></a></li>
									</ul>
									<p th:utext="${data[iterStat.index].scene.scenicDescription}"></p>
									<div class="more m1">
										<a th:href="'/sceneWeb/detail.do?sceneId='+${data[iterStat.index].scene.scenicId}">More Info</a>
									</div>
								</div>
								<div class="col-xs-4 banner-bottom-grid-right">
									<img th:src="${data[iterStat.index].photo.scenicPhotoUrl}" alt=" " class="img-responsive" style="height: 150px;"/>
								</div>
								<div class="clearfix"> </div>
							</div>
						</th:block>
						<th:block th:if="${iterStat.count<iterStat.size}">
							<div class="col-md-6 banner-bottom-grid">
								<div class="col-xs-4 banner-bottom-grid-right">
									<img th:src="${data[iterStat.count].photo.scenicPhotoUrl}" alt=" " class="img-responsive" style="height: 150px;"/>
								</div>
								<div class="col-xs-8 banner-bottom-grid-left banner-bottom-grid-l">
									<h4 th:text="${data[iterStat.count].scene.scenicName}"></h4>
									<ul>
										<li><a th:utext="'&lt;span class=&quot; glyphicon glyphicon-heart&quot;  aria-hidden=&quot; true&quot; &gt;&lt;/span&gt;'+${data[iterStat.count].like}+'人 喜欢它'"></a></li>
										<li><a th:utext="${data[iterStat.count].scene.scenicWant==null}? '&lt;span class=&quot; glyphicon glyphicon-star&quot;  aria-hidden=&quot; true&quot; &gt;&lt;/span&gt;0人 浏览过':'&lt;span class=&quot; glyphicon glyphicon-star&quot;  aria-hidden=&quot; true&quot; &gt;&lt;/span&gt;'+${data[iterStat.count].scene.scenicWant}+'人 浏览过'"></a></li>
									</ul>
									<p th:utext="${data[iterStat.count].scene.scenicDescription}"></p>
									<div class="more m1">
										<a th:href="'/sceneWeb/detail.do?sceneId='+${data[iterStat.count].scene.scenicId}">More Info</a>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</th:block>
						<div class="clearfix"> </div>
					</div>
				</th:block>

			</th:block>


		</div>
	</div>
<!-- //banner-bottom -->
<!-- welcome-bottom -->
	<div class="welcome-bottom">
		<div class="container">
			<div class="welcome-bottom-grids">
				<div class="welcome-bottom-grid-l">
					<div class="more">
						<a href="/sceneWeb/scene.do">More Info</a>
					</div>
				</div>
				<div class="welcome-bottom-grid-left">
					<h3>Let people who understand travel take you to the world</h3>
					<p>Travel is part of life, knows how to travel, knows how to taste life,
						Intentionally tell you the appearance of every unforgettable trip</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //welcome-bottom -->

<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-row">
				<div class="col-md-3 footer-grids">
					<h4><a href="index.html">Seafaring</a></h4>
					<p><a href="mailto:739996585@qq.com">739996585@qq.com</a></p>
					<p id="phone">+086 156 260 418 58</p>
					<ul class="social-icons">
						<li><a href="#" class="p"></a></li>
						<li><a href="#" class="in"></a></li>
						<li><a href="#" class="v"></a></li>
						<li><a href="#" class="facebook"></a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grids">
					<h3>Navigation</h3>					
					<ul>
						<li><a href="/home/index.do">首页</a></li>
						<li><a href="/sceneWeb/scene.do">景点</a></li>
						<li><a href="/articleWeb/article.do">文章</a></li>
						<li><a href="/expertWeb/expert.do">申请专家</a></li>
						<li><a href="contact.html">联系我们</a></li>
					</ul>
				</div>
				<div class="col-md-2 footer-grids">
					<h3></h3>
					<ul>
						<li><a href="gallery.html"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
					</ul>
				</div>
				<div class="col-md-4 footer-grids">	
					<h3>Login</h3>
					<p>如果你没有注册过，也没有关系<p>
					<form class="form-horizontal" id="login">
						<div class="form-group">
						    <div class="col-sm-10">
						      	<input type="text" class="text" value="请输入邮箱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入邮箱';}" id="email">
								<input type="button" value="验证码" onclick="sendMessage()" id="btnSendCode">
						    </div>
  						</div>
						<div class="form-group">
						    <div class="col-sm-10">
						      	<input type="text" class="text" value="请输入验证码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入验证码';}" id="code">
								<input type="hidden" id="sessionId">
								<input type="button" value="GO" id="btnLogin" onclick="login()">
						    </div>
						</div>
				 </form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

<!--//footer-->	
<!-- for bootstrap working -->

<!-- //for bootstrap working -->
</body>
</html>