<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>【四季旅游网】</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Seafaring Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- CSS Libs -->
<link th:href="@{/web/css/bootstrap.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/web/css/style.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/web/css/flexslider.css}" rel="stylesheet" type="text/css" />
<!-- Javascript Libs -->
<script type="text/javascript" th:src="@{/web/js/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/web/js/jquery.flexslider.js}"></script>
<script type="text/javascript" th:src="@{/web/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/web/js/sceneList.js}"></script>
<script type="text/javascript">
//	$(window).load(function(){
//		$('.flexslider').flexslider({
//			animation: "slide",
//			start: function(slider){
//				$('body').removeClass('loading');
//			}
//		});
//	});
</script>
<!-- //FlexSlider -->
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
	
<body>
<!-- header -->
	<div class="header">
		<div class="search">
			<form>
				<i class="glyphicon glyphicon-search" aria-hidden="true" id="doSearch"></i><input type="text" placeholder="Search Here" id="search" th:value="${search}!=null ? ${search}:''" />
			</form>
		</div>
		<div class="logo">
			<a href="/home/index.do">Four Seasons</a>
		</div>
		<div class="logo-right">
			<input type="hidden" id="userId" th:value="${session.user}!=null ? ${session.user.userId}:''">
			<ul>
				<li><a href="/home/index.do" th:text="${session.user}!=null ? ${session.user.userName}:'登 录'"></a></li>
				<li><a href="tel:88888888">联系我们</a></li>
				<li><a href="javascript:cancel();" th:text="${session.user}!=null ? '注 销':''"></a></li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="header-nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="cl-effect-1">
						<ul class="nav navbar-nav">
							<li ><a href="/home/index.do">首页</a></li>
							<li class="active"><a href="/sceneWeb/scene.do">景点</a></li>
							<li><a href="/articleWeb/article.do">文章</a></li>
							<li><a href="#">猜你喜欢</a></li>
							<li><a href="/sceneWeb/photo.do">照片墙</a></li>
							<li><a href="/expertWeb/expert.do">申请专家</a></li>
						</ul>
					</nav>
				</div><!-- /.navbar-collapse -->	
			</nav>
		</div>
	</div>
<!-- //header -->
<!-- banner -->
	<div class="banner1">
	</div>
<!-- //banner -->
<!-- services -->
	<div class="services">
		<div class="container">
			<ol class="breadcrumb breadco">
				<li><a href="#">Home</a></li>
				<li class="active">Scene</li>
			</ol>
			<div class="services-overview" id="content">
				<!--<h3>Scene</h3>-->
				<!--<div class="services-overview-grids">-->
					<!--<div class="col-md-4 services-overview-grid">-->
						<!--<div class="services-overview-grd">-->
							<!--<img src="images/13.jpg" alt=" " class="img-responsive" />-->
							<!--<div class="services-overview-gd">-->
								<!--<h4>广州塔</h4>-->
								<!--<p>广州塔（英语：Canton Tower）又称广州新电视塔，昵称小蛮腰。位于广州市海珠区（艺洲岛）赤岗塔附近，距离珠江南岸125米，与珠江新城、花城广场</p>-->
								<!--<ul class="social-icons">-->
									<!--<li><a href="#" class="p"></a></li>-->
									<!--<li><a href="#" class="in"></a></li>-->
									<!--<li><a href="#" class="v"></a></li>-->
									<!--<li><a href="#" class="facebook"></a></li>-->
								<!--</ul>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="col-md-4 services-overview-grid">-->
						<!--<div class="services-overview-grd">-->
							<!--<img src="images/10.jpg" alt=" " class="img-responsive" />-->
							<!--<div class="services-overview-gd">-->
								<!--<h4>广州塔</h4>-->
								<!--<p>广州塔（英语：Canton Tower）又称广州新电视塔，昵称小蛮腰。位于广州市海珠区（艺洲岛）赤岗塔附近，距离珠江南岸125米，与珠江新城、花城广场</p>-->
								<!--<ul class="social-icons">-->
									<!--<li><a href="#" class="p"></a></li>-->
									<!--<li><a href="#" class="in"></a></li>-->
									<!--<li><a href="#" class="v"></a></li>-->
									<!--<li><a href="#" class="facebook"></a></li>-->
								<!--</ul>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="col-md-4 services-overview-grid">-->
						<!--<div class="services-overview-grd">-->
							<!--<img src="images/9.jpg" alt=" " class="img-responsive" />-->
							<!--<div class="services-overview-gd">-->
								<!--<h4>广州塔</h4>-->
								<!--<p>广州塔（英语：Canton Tower）又称广州新电视塔，昵称小蛮腰。位于广州市海珠区（艺洲岛）赤岗塔附近，距离珠江南岸125米，与珠江新城、花城广场</p>-->
								<!--<ul class="social-icons">-->
									<!--<li><a href="#" class="p"></a></li>-->
									<!--<li><a href="#" class="in"></a></li>-->
									<!--<li><a href="#" class="v"></a></li>-->
									<!--<li><a href="#" class="facebook"></a></li>-->
								<!--</ul>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="clearfix"> </div>-->
				<!--</div>-->
				<!--<div class="services-overview-grids">-->
					<!--<div class="col-md-4 services-overview-grid">-->
						<!--<div class="services-overview-grd">-->
							<!--<img src="images/8.jpg" alt=" " class="img-responsive" />-->
							<!--<div class="services-overview-gd">-->
								<!--<h4>广州塔</h4>-->
								<!--<p>广州塔（英语：Canton Tower）又称广州新电视塔，昵称小蛮腰。位于广州市海珠区（艺洲岛）赤岗塔附近，距离珠江南岸125米，与珠江新城、花城广场</p>-->
								<!--<ul class="social-icons">-->
									<!--<li><a href="#" class="p"></a></li>-->
									<!--<li><a href="#" class="in"></a></li>-->
									<!--<li><a href="#" class="v"></a></li>-->
									<!--<li><a href="#" class="facebook"></a></li>-->
								<!--</ul>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="col-md-4 services-overview-grid">-->
						<!--<div class="services-overview-grd">-->
							<!--<img src="images/7.jpg" alt=" " class="img-responsive" />-->
							<!--<div class="services-overview-gd">-->
								<!--<h4>广州塔</h4>-->
								<!--<p>广州塔（英语：Canton Tower）又称广州新电视塔，昵称小蛮腰。位于广州市海珠区（艺洲岛）赤岗塔附近，距离珠江南岸125米，与珠江新城、花城广场</p>-->
								<!--<ul class="social-icons">-->
									<!--<li><a href="#" class="p"></a></li>-->
									<!--<li><a href="#" class="in"></a></li>-->
									<!--<li><a href="#" class="v"></a></li>-->
									<!--<li><a href="#" class="facebook"></a></li>-->
								<!--</ul>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="col-md-4 services-overview-grid">-->
						<!--<div class="services-overview-grd">-->
							<!--<img src="images/6.jpg" alt=" " class="img-responsive" />-->
							<!--<div class="services-overview-gd">-->
								<!--<h4>广州塔</h4>-->
								<!--<p>广州塔（英语：Canton Tower）又称广州新电视塔，昵称小蛮腰。位于广州市海珠区（艺洲岛）赤岗塔附近，距离珠江南岸125米，与珠江新城、花城广场</p>-->
								<!--<ul class="social-icons">-->
									<!--<li><a href="#" class="p"></a></li>-->
									<!--<li><a href="#" class="in"></a></li>-->
									<!--<li><a href="#" class="v"></a></li>-->
									<!--<li><a href="#" class="facebook"></a></li>-->
								<!--</ul>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="clearfix"> </div>-->
				<!--</div>-->
			</div>
			
		</div>
	</div>
<!-- //services -->
<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-row">
				<div class="col-md-3 footer-grids">
					<h4><a href="index.html">Seafaring</a></h4>
					<p><a href="mailto:739996585@qq.com">739996585@qq.com</a></p>
					<p id="phone">+086 156 260 418 58</p>
					<ul class="social-icons">
						<li><a href="#" class="p"></a></li>
						<li><a href="#" class="in"></a></li>
						<li><a href="#" class="v"></a></li>
						<li><a href="#" class="facebook"></a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grids">
					<h3>Navigation</h3>					
					<ul>
						<li><a href="/home/index.do">首页</a></li>
						<li><a href="/sceneWeb/scene.do">景点</a></li>
						<li><a href="/articleWeb/article.do">文章</a></li>
						<li><a href="/expertWeb/expert.do">申请专家</a></li>
						<li><a href="contact.html">联系我们</a></li>
					</ul>
				</div>
				<div class="col-md-2 footer-grids">
					<h3></h3>
					<ul>
						<li><a href="gallery.html"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
					</ul>
				</div>
				<div class="col-md-4 footer-grids">	
					<!--<h3>Login</h3>-->
					<!--<p>如果你没有注册过，也没有关系<p>-->
					<!--<form class="form-horizontal" id="login">-->
						<!--<div class="form-group">-->
						    <!--<div class="col-sm-10">-->
						      	<!--<input type="text" class="text" value="请输入邮箱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入邮箱';}">-->
								<!--<input type="button" value="验证码">-->
						    <!--</div>-->
  						<!--</div>-->
						<!--<div class="form-group">-->
						    <!--<div class="col-sm-10">-->
						      	<!--<input type="text" class="text" value="请输入验证码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入验证码';}">-->
								<!--<input type="button" value="GO">-->
						    <!--</div>-->
						<!--</div>-->
				 <!--</form>-->
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	
<!--//footer-->	
</body>
</html>