<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Ricky的旅游网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link th:href="@{/lib/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/lib/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/lib/css/animate.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/lib/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/lib/css/checkbox3.min.css}" rel="stylesheet" type="text/css" />
    <!--<link th:href="@{/lib/css/dataTables.min.css}" rel="stylesheet" type="text/css" />-->
    <link th:href="@{/lib/css/dataTables.bootstrap.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/lib/css/select2.min.css}" rel="stylesheet" type="text/css" />
    <!-- CSS App -->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/pic.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/themes/flat-blue.css}" rel="stylesheet" type="text/css" />
</head>

<body class="flat-blue">
    <div class="app-container">
        <div class="row content-container">
            <nav class="navbar navbar-default navbar-fixed-top navbar-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-expand-toggle">
                            <i class="fa fa-bars icon"></i>
                        </button>
                        <ol class="breadcrumb navbar-breadcrumb">
                            <li>城市美食</li>
                            <li class="active">编辑美食</li>
                        </ol>
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-th icon"></i>
                        </button>
                    </div>
                    <!--
                    	作者：ricky
                    	时间：2018-01-05
                    	描述：这是右上角的用户区域
                    -->
                    <ul class="nav navbar-nav navbar-right">
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>
                        <li class="dropdown profile">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">个人中心<span class="caret"></span></a>
                            <ul class="dropdown-menu animated fadeInDown">
                                <li class="profile-img">
                                    <img th:src="@{/img/profile/picjumbo.com_HNCK4153_resize.jpg}" class="profile-img">
                                </li>
                                <li>
                                    <div class="profile-info">
                                        <h4 class="username" th:text="${session.user.adminAccount}" th:unless="${session.user== null}"></h4>
                                        <div class="btn-group margin-bottom-2x" role="group">
                                            <a href="/admin/login.do"><button type="button" class="btn btn-default"><i class="fa fa-sign-out"></i> 注销</button></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="side-menu sidebar-inverse">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                <div class="icon fa fa-paper-plane"></div>
                                <div class="title">Flat Admin V.2</div>
                            </a>
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="">
                                <a href="index.html">
                                    <span class="icon fa fa-tachometer"></span><span class="title">主页</span>
                                </a>
                            </li>
                            <li th:each="auth,itemStat:${session.auths}" th:class="${auth.authId}==2 ? 'active':''">
                                <a th:href="${auth.authUrl}">
                                    <span th:class="${auth.authPic}"></span><span class="title" th:text="${auth.authName}"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body">
                    <div class="page-title">
                        <span class="title">Datatable</span>
                        <div class="description">with jquery Datatable for display data with most usage functional. such as search, ajax loading, pagination, etc.</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">编辑美食</div>
                                    </div>
                                </div>
                                <form id="CateForm" method="post" enctype="multipart/form-data">
                                	<div class="card-body col-xs-6 form-inline" style="height: 78px;">
	                                    <div>
	                                    	国家：
                                            <select name="countryId" id="s1" style="width: 100px;">
                                                <optgroup label="国家">
                                                    <option th:value="${cate.countryId}" th:text="${cate.countryName}"></option>
                                                </optgroup>
                                            </select>
                                            省份：
                                            <select name="provinceId" id="s2" style="width: 100px;">
                                                <optgroup label="省份">
                                                    <option th:value="${cate.provinceId}" th:text="${cate.provinceName}"></option>
                                                </optgroup>
                                            </select>
                                            城市：
                                            <select name="cityId" id="s3" style="width: 100px;">
                                                <optgroup label="城市">
                                                    <option th:value="${cate.cityId}" th:text="${cate.cityName}"></option>
                                                </optgroup>
                                            </select>
	                                        <!--<input type="text" class="form-control" placeholder="请输入名称">-->
	                                    </div>
                                	</div>
	                                <div class="card-body col-xs-6 form-inline" style="height: 78px;">
	                                    <div>
	                                    	美食名称：
                                            <input type="text" style="display: none" name="cateId" th:value="${cate.cateId}">
	                                        <input type="text" class="form-control" placeholder="请输入名称" style="width: 70%;" name="cateName" id="cateName" th:value="${cate.cateName}">
	                                    </div>
	                                </div>
	                                <div class="card-body col-xs-6 form-inline" style="height: 78px;">
	                                    <div>
	                                    	美食描述：
	                                        <input type="text" class="form-control" placeholder="请输入描述" style="width: 70%;" name="cateDescription" id="cateDescription" th:value="${cate.cateDescription}">
	                                    </div>
	                                </div>
	                                <div class="card-body col-xs-6 form-inline" style="height: 78px;">
	                                    <div>
	                                    	美食地址：
	                                        <input type="text" class="form-control" placeholder="请输入地址" style="width: 70%;" name="cateAddress" id="cateAddress" th:value="${cate.cateAddress}">
	                                    </div>
	                                </div>
	                                
	                                <div class="card-body col-xs-6">
	                                    	<button type="button" class="btn btn-info" id="add">保存</button>
	                                    </div>
	                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
        <footer class="app-footer">
            <div class="wrapper">
                <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2015 Copyright.
            </div>
        </footer>
    <div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            警告！
                        </h4>
                    </div>
                    <div class="modal-body">
                        网络异常！请稍后再尝试操作
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- Javascript Libs -->
        <script type="text/javascript" th:src="@{/lib/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/lib/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/lib/js/Chart.min.js}"></script>
        <script type="text/javascript" th:src="@{/lib/js/bootstrap-switch.min.js}"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.matchHeight-min.js}"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.dataTables.min.js}"></script>
        <script type="text/javascript" th:src="@{/lib/js/dataTables.bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/lib/js/select2.full.min.js}"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/ace.js}"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/mode-html.js}"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/theme-github.js}"></script>
        <script type="text/javascript" th:src="@{/lib/js/admin/cate/updateCate.js}"></script>
        <!-- Javascript -->
        <script type="text/javascript" th:src="@{/js/app.js}"></script>
        <!--<script type="text/javascript" th:src="@{/js/pic.js}"></script>-->
        <!--<script type="text/javascript" th:src="@{/lib/js/city.js}"></script>-->
        <!-- DataTables -->
        <script src="http://cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.js"></script>
</body>

</html>
