<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ricky.travel.dao.CountryVOMapper" >
  <resultMap id="BaseResultMap" type="com.ricky.travel.domain.CountryVO" >
    <id column="Country_ID" property="countryId" jdbcType="INTEGER" />
    <result column="Country_Nname" property="countryNname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Country_ID, Country_Nname
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ricky.travel.domain.CountryVOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from country
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from country
    where Country_ID = #{countryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from country
    where Country_ID = #{countryId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ricky.travel.domain.CountryVOExample" >
    delete from country
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ricky.travel.domain.CountryVO" useGeneratedKeys="true" keyProperty="id" >
    insert into country (Country_ID, Country_Nname)
    values (#{countryId,jdbcType=INTEGER}, #{countryNname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ricky.travel.domain.CountryVO" useGeneratedKeys="true" keyProperty="id" >
    insert into country
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="countryId != null" >
        Country_ID,
      </if>
      <if test="countryNname != null" >
        Country_Nname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="countryId != null" >
        #{countryId,jdbcType=INTEGER},
      </if>
      <if test="countryNname != null" >
        #{countryNname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ricky.travel.domain.CountryVOExample" resultType="java.lang.Integer" >
    select count(*) from country
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update country
    <set >
      <if test="record.countryId != null" >
        Country_ID = #{record.countryId,jdbcType=INTEGER},
      </if>
      <if test="record.countryNname != null" >
        Country_Nname = #{record.countryNname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update country
    set Country_ID = #{record.countryId,jdbcType=INTEGER},
      Country_Nname = #{record.countryNname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ricky.travel.domain.CountryVO" >
    update country
    <set >
      <if test="countryNname != null" >
        Country_Nname = #{countryNname,jdbcType=VARCHAR},
      </if>
    </set>
    where Country_ID = #{countryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ricky.travel.domain.CountryVO" >
    update country
    set Country_Nname = #{countryNname,jdbcType=VARCHAR}
    where Country_ID = #{countryId,jdbcType=INTEGER}
  </update>
</mapper>